.container

  h1 Informationen zur Erhebung personenbezogener Daten bei Anmeldung zu einem Seminar/Kurs des PARITÄTISCHEN Bildungswerkes Sachsen-Anhalt

  p Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich
    auf Grundlage der gesetzlichen Bestimmungen (DGSVO). Nachfolgend werden Sie über die wichtigsten Aspekte der
    Datenerhebung und -verarbeitung im Rahmen Ihrer Anmeldung zu einem unserer Seminare/Kurse gemäß Artikel 13
    DSGVO informiert:

  h2 Anmeldung
  p Wenn Sie sich per Formular auf unserer Homepage, per E-Mail oder Fax anmelden, werden Ihre im Formular angegebenen
    Daten zwecks Bearbeitung der Anmeldung und für den Fall von Anschlussfragen sowie im Fall der Teilnahme am
    Seminar/Kurs für die Erstellung der Anmeldebestätigung/Rechnung, von Teilnehmer*innen-Listen sowie von
    Teilnahmebescheinigungen / Zertifikaten bei uns gespeichert und aufbewahrt.

  h2 Datenspeicherung
  p Die Datenverarbeitung erfolgt auf Basis des Artikel 6 Abs 1 lit b (notwendig zur Vertragserfüllung) der
    DSGVO i.V. mit Ihrer Anmeldung. Die von Ihnen bereit gestellten Daten sind zur Durchführung vorvertraglicher
    Maßnahmen sowie zur Vertragserfüllung erforderlich. Ohne diese Daten können wir den Vertrag (siehe AGB unter
    www.bildungswerk-md.de) mit Ihnen nicht abschließen.
  p Eine Datenübermittlung an unberechtigte Dritte sowie in ein Drittland erfolgt nicht.
  p Die bei uns gespeicherten und aufbewahrten Daten werden im Falle eines nicht zustande gekommenen Vertrages
    spätestens eine Woche nach Absage des Seminars/Kurses gelöscht bzw. vernichtet. Im Falle eines Vertragsabschlusses
    unterliegen sämtliche Daten aus dem Vertragsverhältnis nach § 257 HGB und § 147 Abgabenordnung (AO) der 10jährigen
    Aufbewahrungsfrist. Die Unterlagen werden 10 Jahre nach Ablauf des Kalenderjahres, in dem der Jahresabschluss
    erfolgte, vernichtet.

  h2 Ihre Rechte
  p Ihnen stehen grundsätzlich die Rechte auf Auskunft nach Artikel 15 DSGVO, auf Berichtigung nach Artikel 16 DSGVO,
    auf Löschung nach Artikel 17 DSGVO, auf Einschränkung der Verarbeitung nach Artikel 18 DSGVO, auf Widerspruch aus
    Artikel 21 DSGVO sowie auf Datenübertragbarkeit aus Artikel 20 DSGVO zu.
  p Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
    datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich gemäß Artikel 77 DSGVO
    bei der zuständigen Aufsichtsbehörde beschweren. Die für uns zuständige Aufsichtsbehörde ist:
  p Landesbeauftragter für den Datenschutz Sachsen-Anhalt Leiterstraße 9, 39104 Magdeburg 
    www.datenschutz.sachsen-anhalt.de
  p Wenn Sie nicht in Sachsen-Anhalt wohnen, können Sie sich auch an die Aufsichtsbehörde für den Datenschutz in
    Ihrem Bundesland wenden.

  h2 Sie erreichen uns unter folgenden Kontaktdaten:
  p PARITÄTISCHES Bildungswerk Landesverband Sachsen-Anhalt e.V. <br>Wiener Str. 2, <br>39108 Magdeburg
  p Geschäftsführerin: Silke Mertens<br> Telefon: 0391 / 6293 313, <br>E-Mail: bildungswerk@paritaet-lsa.de
  p Unseren Datenschutzbeauftragten Herrn Frank Spaeing erreichen Sie unter  E-Mail datenschutz@paritaet-lsa.de
