.container.bereich-block
  h1 Team

  p
    Foto
    Jana Schulze
    Projektleiterin
    Projektbüro „Quereinstieg“, Wiener Str. 2, 39112 Magdeburg
    Telefon 0391 / 6293 309
    jschulze[at]paritaet-lsa.de
  p
    Foto
    Steffen Schulze
    Fachschulkoordinator
    Projektbüro „Quereinstieg“, Wiener Str. 2, 39112 Magdeburg
    Telefon 0391 / 6293 308
    stschulze[at]paritaet-lsa.de
  p
    Foto
    Elke Mähnz
    Kita-Koordinatorin
    Fachschule für Sozialpädagogik, Dr.-Wilhelm-Külz-Platz 10, 06449 Aschersleben
    Telefon 03473 / 2175 3013
    e.maehnz[at]fachschule-sozialwesen.de
  p
    Foto
    Waltraud Kreutzer
    Kita-Koordinatorin
    Fachschule für Sozialpädagogik, Dr.-Wilhelm-Külz-Platz 10, 06449 Aschersleben
    Telefon 03473 / 2175 300
    w.kreutzer[at]fachschule-sozialwesen.de
