= f.simple_fields_for :attendees do |attendee_form|
  = render 'form_attendee', attendee_form: attendee_form, count: true

.row
  .col-md-1 = link_to fa_icon('plus', text: 'Teilnehmer hinzufügen'), '#',
    class: 'add-attendee btn btn-default', tabindex: -1, title: 'Neuer Teilnehmer'

.row
  .col-md-4
    = f.input :company_name

coffee:
  $ ->
    $('.attendee.new-record').addClass('hidden')
    addButtonClicked = (event) ->
      event.preventDefault()
      $('.attendee.new-record.hidden').first().removeClass('hidden')
    $('.add-attendee').on 'click', addButtonClicked
    $('.add-attendee').click()

sass:
  a.add-attendee
    margin-bottom: 25px
