label Datum
p = @seminar.dates.map { |date| ldate date }.join('; ').html_safe

label Zeit
p = @seminar.events.map(&:time).uniq.compact.join('; ').html_safe

label Ort
p = @seminar.location&.name

label Gebühr
p = @seminar.price_text&.html_safe
